<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>NETSCORE IOT</h1>
<h4>create account</h4>
<form  action="/snv/" method="POST">
    email:<input type="email" name="em"><br>
    firstname:<input type="text" name="fir"><br>
    lastname:<input type="text" name="lst"><br>
    password:<input type="password" name="pass"><br>
    verify password:<input type="password" name="vpass">
      
      
    <br>
    <input type="submit" value="Register">

    

</form>
</body>
</html>